
<nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/recipes">All Recipes</a></li>
      <li><a href="/myRecipes">My Recipes</a></li>
      <li><a href="/recipeForm">Add Recipe</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  